*{
    font-family: "Comfortaa", cursive;
    /*color:whitesmoke; */
}

html,
h1,
h2,
h3,
h4,
h5,
h6{
    color:whitesmoke;
}

body{
    background: #424242;
}

a{
    text-decoration: none;
    color:whitesmoke;
}

header{
    background: #171717;
    height: 70px;
}

header h1{
    margin-top: 11px;
}

header h1 a{
    color:whitesmoke;
    text-decoration: none;
}

header h1 a:hover{
    color: whitesmoke;
}

header ul{
    margin:0;
    padding:0;
    list-style: none;
    float:right;
}

header ul li{
    float: left;
    position: relative;
}

header ul li a{
    display: block;
    font-size:1.2rem;
    text-decoration: none;
    color: whitesmoke;
    padding: 20px;
}

header ul li a:hover{
    background: black;
    transition: 0.5s;
    color:whitesmoke;
}

header ul li ul {
    position: absolute;
    top: 70px;
    right: 0px;
    width: 180px;
    display: none;
    z-index: 111;
}

header ul li:hover ul{
    display: block;
}

header ul li ul li{
    width: 100%;
}


.footer{
    background: #171717;
    color:whitesmoke;
    position: relative;
}

.footer .footer-section{
    padding: 22px;
}

.footer .about .contact span{
    display:block;
    font-size: 1.1em;
    margin-bottom: 8px;
}

.footer .about .socials a{
    width:45px;
    height:41px;
    padding-top:5px;
    margin-right:5px;
    text-align: center;
    display:inline-block;
    font-size: 1.3em;
    transition: all 0.3s;
    color: whitesmoke;
}

.footer .links{
    padding-left: 20%;
}

.footer .about .socials a:hover{
    transition: all .3s;
    background-color:#676767;
}

.footer .links ul a{
    display: block;
    margin-bottom: 10px;
    font-size: 1.2em;
    transition: all .3s;
    text-decoration: none;
    color:whitesmoke;
}

.footer .links ul a:hover {
    color:whitesmoke;
    margin-left: 15px;
    transition: all .3s;;
}

.footer .footer-bottom {
    text-align: center;
    background: #171717;
}

/*sidebar*/
.sidebar a{
    color:whitesmoke;
    text-decoration: none;
}

.sidebar{
    margin:1rem 0;
    background: #171717;
    min-height: 600px;
}

.sidebar ul{
    list-style:none;
    margin:0px;
    padding:0px;
    color:#676767;
}

.sidebar ul a{
    padding:18px;
    display: block;
    border-bottom: 1px solid #424242;
    transition: all 0.3s;
}

.sidebar ul a:hover{
    padding-left: 10px;
    transition: all 0.3s;
    color:#d3d3d3;
    text-decoration: none;
}

.products{
    height: 100%;
    padding: 40px 100px 100px;
    overflow-y: auto;
    
}

.products h2{
    text-align: center;
    margin: 2rem 0 0 0.4rem;
}

.products .title-table div{
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #d3d3d3;
    font-weight: 600;
    color:whitesmoke;
}

.products .product div{
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #d3d3d3;
    color:whitesmoke;
}

.products .product .del a{
    color:red;
    text-decoration: none;
}

.products .product .red a{
    color: orange;
    text-decoration: none;
}

.products .product .id{
    font-weight: bold;
    color:whitesmoke;
}


/*.add-product div{
    margin: 2rem 0;
} */

.form-label{
    color:azure;
}

.add-product div .err p{
    color: red;
    font-size: italic;
    font-size:  0.8rem;
}